<body style="margin: 0; padding: 0; background: #4286f4; height: 100vh;">
    <div style="height: 100%; display: flex; justify-content: center; align-items: center;">
      <div style="padding: 50px; background-color: white; border-radius: 10px; height: auto;">
        <h2 style="margin-bottom: 20px;">{{ "Bienvenido a Notea" }}</h2>
        <div style="text-align: center; display: flex; justify-content: center;">
          <asl-google-signin-button type="standard" locale="es" text="signin_with" size="medium"></asl-google-signin-button>
        </div>
      </div>
    </div>
  </body>
  